name: publish-to-github-pages
on:
    push:
        branches:
            - main

permissions:
    contents: read
    packages: write
    id-token: write

concurrency:
    group: "pages"
    cancel-in-progress: false

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v2

            - name: Setup Node.js - Cache dependencies - Install dependencies
              uses: ./.github/workflows/setup-node

            - name: Setup Pages
              uses: actions/configure-pages@v4
              with:
                static_site_generator: next
            
            - name: Build with Next.js
              run: |
                cd portfolio-akemi
                npx next build

            - name: Upload artifact
              uses: actions/upload-pages-artifact@v3
              with:
                path: ./portfolio-akemi/out
        
    deploy:
        environment:
            name: github-pages
            url: ${{ steps.deployment.outputs.page_url }}

        runs-on: ubuntu-latest
        needs: build
        steps:
            - name: Publish to GitHub Pages
              id: deployment
              uses: actions/deploy-pages@v4
